.bs-docs-header
  .container
    .row
      h1 GMapz
        small &nbsp;&nbsp;&nbsp;Yet another Google Maps library. <a href="https://github.com/carloscabo/gmapz" target="_blank">https://github.com/carloscabo/gmapz</a>
