.navbar.navbar-default.mb0
  .container-fluid
    .container
      ul.nav.navbar-header.left
        li
          a(href="index.html") Introducción
        li
          a(href="marcadores.html") Marcadores
        li
          a(href="#") Botones externos
        li
          a(href="/autocompletado.html") Autocompletado
        li
          a(href="/responsive.html") Responsive
        li
          a(href="#") Métodos JS
