.navbar.navbar-inverse.mb0
  .container-fluid
    .container
      ul.nav.navbar-nav.left
        li(class = (is_active === 1 ? "active" : ""))
          a(href="index.html") Introducción
        li(class = (is_active === 2 ? "active" : ""))
          a(href="marcadores.html") Marcadores
        li(class = (is_active === 3 ? "active" : ""))
          a(href="data_attributes.html") Data-attributes
        li(class = (is_active === 4 ? "active" : ""))
          a(href="geolocalizacion.html") Geolocalización
        li(class = (is_active === 5 ? "active" : ""))
          a(href="responsive.html") Responsive&nbsp;y&nbsp;bloqueo
        li(class = (is_active === 6 ? "active" : ""))
          a(href="infowindows.html") Infowindows
        li(class = (is_active === 7 ? "active" : ""))
          a(href="lightbox.html") Lightbox
        li(class = (is_active === 8 ? "active" : ""))
          a(href="metodos.html") Métodos JS
