doctype
html
  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="js/gmapz/gmapz.responsive.css")
    link(rel="stylesheet" href="js/gmapz/gmapz.infobox.css")
    link(rel="stylesheet" href="css/application.css")

    //- Third party libs
    script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js")
    script(src="js/lib/MQBE.1.04.js")
    script(src="js/lib/markerclusterer.js")
    script(src="js/lib/infobox.modified.js")

    // - fancybox
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js")

    //- Demo only
    script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert")

    //- GMapz core
    script(src="js/gmapz/gmapz.js")
    script(src="js/gmapz/gmapz.pins.js")
    script(src="js/gmapz/gmapz.map.js")
    script(src="js/gmapz/gmapz.autocomplete.js")
    script(src="js/gmapz/gmapz.locations.js")

    script(src="js/ready.js")
  body
    != yield
