doctype
html
  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="scss/application.css")

    script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert")
  body
    != yield
