- var is_active = 5
include ./includes/mixins.jade
include ./includes/nav_bar.jade
include ./includes/bs_header.jade
.main-content
  .row
    .container
      h2.page-header Autocompletado
      p.
        Para esta funcionalidad necesitamos incluír <code>gmapz.autocomplete.js</code> e inicializar un <code>input</code> de la página.
#sample-8.mb32
  .row
    .container
      h2 Sample 8
        small &nbsp;&nbsp;&nbsp;Añadir un marcador en ubicación
      .row
        .col-lg-6
          div.
            <input id="my-autocomplete-1" type="text" class="form-control" placeholder="Encontrar dirección...">
          #map-sample-8.map
            p.
              map goes here
        .col-lg-6
          p.
            <b>Autocompletado de localizaciones de Google</b><br>
            Para esta funcionalidad necesitamos incluír <code>gmapz.autocomplete.js</code> e inicializar un <code>input</code> de la página.
          p.
            El elemento <code>autocomplete</code> tiene sus propios eventos que podemos emplear para interactuar con los mapas, o para realizar otras funciones con ellos.
          pre.prettyprint.lang-html
            +escape()
              | <input id="my-autocomplete-1" placeholder="Introduce una dirección...">
          pre.prettyprint.lang-javascript
            +escape()
              | // Creamos un mapa con un centro y un zoom
              | map_sample_8 = new GMapz.map(
              |   $('#map-sample-8'), {
              |     center: [41.8919, 12.5113], // Roma
              |     zoom: 12
              |   }
              | );
              | 
              | // Creamos en autocomplete asignado a un elemento de la página
              | autocomplete_1 = new GMapz.autocomplete($('#my-autocomplete'));
              | 
              | // Cuando el usuario selecciona una ubicación...
              | autocomplete_1.onChange = function () {
              |   // this = autocomplete
              |   var
              |     place = this.instance.getPlace(),
              |     pos = {};
              | 
              |   if(typeof place.geometry === 'undefined') {
              |     alert('No encontrado');
              |     return;
              |   }
              | 
              |   // Creamos un marker
              |   pos['autocomplete'] = {
              |     pin: 'autocomplete',
              |     lat: place.geometry.location.lat(),
              |     lng: place.geometry.location.lng(),
              |     draggable: true,
              |     iw : 'My infowindow 1'
              |   };
              |   // Añadimos la nueva localización
              |   // Centramos la vista en la nueva localización
              |   // Abrimos el infowindow de la misma
              |   map_sample_8.addLocations(pos).fitToPlace(place,18).openInfoWindow('autocomplete');
              | };
#sample-9.mb32
  .row
    .container
      h2 Sample 9
        small &nbsp;&nbsp;&nbsp;Encontrar marcador más cercano al autocompletado
      .row
        .col-lg-6
          div.
            <input id="my-autocomplete-2" type="text" class="form-control" placeholder="Busca por ejemplo: Venecia, Italia...">
          #map-sample-9.map
            p.
              map goes here
        .col-lg-6
          pre.prettyprint.lang-html
            +escape()
              | <input id="my-autocomplete-2" placeholder="Introduce una dirección...">
          pre.prettyprint.lang-javascript
            +escape()
              | map_sample_9 = new GMapz.map($('#map-sample-9'));
              | 
              | map_sample_9.onReady = function() {
              |   this.addLocations(italy_cities).fitBounds();
              | }
              | 
              | autocomplete_2 = new GMapz.autocomplete($('#my-autocomplete-2'));
              | 
              | autocomplete_2.onChange = function () {
              |   // this = autocomplete
              |   var place = this.instance.getPlace();
              |   if(typeof place.geometry === 'undefined') {
              |     // No se ha encontrado el lugar
              |     alert('No encontrado');
              |     return;
              |   }
              |   // Mostramos la ubicación y elpuntero más cercano
              |   map_sample_9.geoShowPosition(place);
              | };
