.main-content
  .row
    .container
      h2.page-header Introducción
      p.
        <b>GMapz</b> es una librería creada con la finalidad de simplificar la creación de mapas con Google Maps API V3, es responsive, soporta múltiples instancias en la misma página y settings personalizados para cada una ellas. Además es posible crear <em>botones</em> de forma rápida y sencilla que interacciones con los mapas a través de <code>data-attributes</code>.
#sample-1.mb32
  .row
    .container
      h2 Ficheros
        small &nbsp;&nbsp;&nbsp;Ficeros necesarios (y para qué)
      .row
        .col-lg-6
          #map-sample-1.map
            p.
              map goes here
        .col-lg-6
          p.
            Solo se necesita crear una instancia de <code>GMapz</code> indicando las coordenadas de <code>center</code> y opcionalmente unos límites (<code>bounds</code>) con las esquinas de la zona de visualización en un array con la forma: <code>[nortwest_lat, nortwest_lng, southeast_lat, southwest_lng]</code>.
          p.
            A continuación pueden verse varias opciones de inicialización de GMapz.
          pre.prettyprint
            |  map_sample_1 = new GMapz.map(
            |    $('#map-sample-1'),
            |    { // Standard Google Maps options
            |      scrollwheel: true, // Default
            |      scaleControl: true, // Default
            |      center: [48.860, 2.340],
            |      bound: [4.1335, 49.7198, 0.5464, 47.9851],
            |      // zoom: 9 You can set `zoom` instead of bounds
            |      // 'ROADMAP' / 'SATELLITE' / 'HYBRID' / 'TERRAIN'
            |      mapTypeId: 'ROADMAP', // Default
            |    }
            |  );

