.bs-docs-header
  .container
    .row
      h1 GMapz
      h3 Yet another Google Maps library.
.main-content
  .row
    .container
      h2.page-header Introducción
      p.
        <b>GMapz</b> es una librería creada con la finalidad de simplificar la creación de mapas con Google Maps API V3, es responsive, soporta múltiples instancias en la misma página y settings personalizados para cada una ellas. Además es posible crear <em>botones</em> de forma rápida y sencilla que interacciones con los mapas a través de <code>data-attributes</code>.
#sample-1.mb32
  .row
    .container
      h2 Sample 1
        small &nbsp;&nbsp;&nbsp;Basic setup, starting map and setting its center and bounds
      .row
        .col-lg-7.first
          #map-sample-1.map
            p.
              map goes here
        .col-lg-5
          p.
            Solo se necesita crear una instancia de <code>GMapz</code> indicando las coordenadas de <code>center</code> y opcionalmente unos límites (<code>bounds</code>) con las esquinas de la zona de visualización en un array con la forma: <code>[nortwest_lat, nortwest_lng, southeast_lat, southwest_lng]</code>.
          pre.prettyprint
            | function isSafe(number) {
            |    return /^\d+(\.\d+)?(e\d+)?$/i.test(number);
            | }
            | typeof number === 'string' &amp;&amp; isSafe(number) &amp;&amp; typeof eval(number) !== 'number'

#sample-2.mb32
  .row
    .container
      h2 Sample 2
        small &nbsp;&nbsp;&nbsp;Subtitle
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quia, a iure tempora pariatur est, at adipisci quo illo repellat!
      .row
        .col-lg-7.first
          #map-sample-3.map
            p.
              map goes here
          .actions.mt16.mb32
            a.btn.btn-primary Show location
        .col-lg-5
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing <code>elit. Incidunt, qui facere tenetur alias vel aspernatur veritatis autem perferendis nesciunt ea iure, nam voluptas magnam!</code> Temporibus suscipit adipisci nesciunt illum ut culpa quae sapiente enim maiores, repellendus, magni a, facere impedit praesentium voluptatum numquam illo.
          p.
            Assumenda voluptatem modi ratione commodi aliquid! Nam magnam, incidunt quidem accusantium ut error, deserunt odio qui illo, porro sunt. Possimus obcaecati vero exercitationem voluptatibus, quod iusto voluptas magni facere dolore, similique ut consequuntur repellat, non numquam modi repudiandae adipisci mollitia. Numquam at nobis dolorem nam eius, debitis ratione eum beatae quo! Eos, commodi. Minima nobis tenetur accusantium voluptatibus adipisci velit laborum enim distinctio placeat temporibus, excepturi odio molestias voluptatem consequuntur, assumenda sit quia ad eos vel.
          pre.prettyprint
            | function isSafe(number) {
            |    return /^\d+(\.\d+)?(e\d+)?$/i.test(number);
            | }
            | typeof number === 'string' &amp;&amp; isSafe(number) &amp;&amp; typeof eval(number) !== 'number'

#sample-3.mb32
  .row
    .container
      h2 Sample 3
        small &nbsp;&nbsp;&nbsp;Subtitle
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quia, a iure tempora pariatur est, at adipisci quo illo repellat!
      .row
        .col-lg-7.first
          #map-sample-3.map
            p.
              map goes here
          .actions.mt16.mb32
            a.btn.btn-primary Show location
        .col-lg-5
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing <code>elit. Incidunt, qui facere tenetur alias vel aspernatur veritatis autem perferendis nesciunt ea iure, nam voluptas magnam!</code> Temporibus suscipit adipisci nesciunt illum ut culpa quae sapiente enim maiores, repellendus, magni a, facere impedit praesentium voluptatum numquam illo.
          p.
            Assumenda voluptatem modi ratione commodi aliquid! Nam magnam, incidunt quidem accusantium ut error, deserunt odio qui illo, porro sunt. Possimus obcaecati vero exercitationem voluptatibus, quod iusto voluptas magni facere dolore, similique ut consequuntur repellat, non numquam modi repudiandae adipisci mollitia. Numquam at nobis dolorem nam eius, debitis ratione eum beatae quo! Eos, commodi. Minima nobis tenetur accusantium voluptatibus adipisci velit laborum enim distinctio placeat temporibus, excepturi odio molestias voluptatem consequuntur, assumenda sit quia ad eos vel.
          pre.prettyprint
            | function isSafe(number) {
            |    return /^\d+(\.\d+)?(e\d+)?$/i.test(number);
            | }
            | typeof number === 'string' &amp;&amp; isSafe(number) &amp;&amp; typeof eval(number) !== 'number'

