- var is_active = 6
include ./includes/mixins.jade
include ./includes/nav_bar.jade
include ./includes/bs_header.jade
.main-content
  .row
    .container
      h2.page-header Infowindows desplazados (no necesita <i>infobox.js</i>)
      p.
        Se puede desplazar el infowindow standard de Google Maps añadiendo el parámetro <code>pixelOffset</code> durante la inicialización del mapa.
#sample-6A.mb32
  .row
    .container
      h2 Sample 6A
        small &nbsp;&nbsp;&nbsp;Infowindows de sistema desplazados
      .row
        .col-lg-6
          #map-sample-6A.map
            p.
              map goes here
        .col-lg-6
          pre.prettyprint
            +escape()
              | map_sample_6A = new GMapz.map(
              |   $('#map-sample-6A'), {
              |     center: [36.08, -6.82],
              |     zoom: 5,
              |     pixelOffset: [158, 100] // Offset of infowindow
              |   }
              | );
              | 
              | map_sample_6A.onReady = function() {
              |   this.addLocations(spain_locs).fitBounds();
              | };
          p.
            GMapz añade la clase adicional <code>.gm-style-iw-container</code> dentro del mapa, lo que permite personalizaciones del <code>infowindow</code> estandar de Google Maps (por ejemplo en esta demo <b>cambiar la posición de la flecha</b>).
          p.
            Puedes echar un vistazo a los estilos del infobox de esta demo en: <a href="https://github.com/carloscabo/gmapz/blob/master/js/gmapz/gmapz.infobox.scss" target="_blank">https://github.com/carloscabo/gmapz/blob/master/js/gmapz/gmapz.infobox.scss</a>

.main-content
  .row
    .container
      h2.page-header Personalización avanzada de InfoWindows empleando <i>infobox.js</i>
      p.
        Algunos proyectos pueden requerir de <code>infowindows</code> personalizadas <b><em>(las ventanitas que se abren en el mapa cuando pulsamos sobre un marker)</em></b>. Para esta funcionalidad hace falta incluir la librería <code>infobox.modified.js</code>, y una hoja de estilo que defina el estilo de nuestros <em>infoboxes</em>, para ver el estilo empleado en esta demo puedes echar un ojo a <code>gmapz-sample-infobox.scss</code> ( <a href="https://github.com/carloscabo/gmapz/blob/master/src/css/gmapz-sample-infobox.scss" target="_blank">ver</a> ).
      div.alert.alert-danger
        <b>ATENCIÓN!:</b> Para poder integrar <code>infobox.js</code> de forma sencilla en el assets pipeline (y en la filosofía de funcionamiento de GMapz) ha habido que modificarla (no ha habido otra solución <em>elegante</em>). <b>Si actualizas la librería, deberás aplicar las mismas modificaciones :(</b>
.main-content
  .row
    .container
      h2.page-header Inicialización de infobox
      p.
        <code>content: '...'</code> Este el el código que se insertará en el infobox cuando se crea, cuando el usuario pulse sobre un marcador automáticamente se reemplazará <code>{{__REPLACE__}}</code> por el contenido de la clave: <code>iw:</code> del marker que hayamos definido en el JSON de marcadores / localizaciones.
        <br><br>
        <code>pixelOffset:</code> Desplazamiento del infobox en pixels desde la posición del pin / marker.
        <br><br>
        <code>closeBoxURL: '', enableEventPropagation: true</code> estas dos líneas nos permiten desactivar el <b>botón de cerrar</b> que añade <code>infobox</code> automáticamente para crear uno propio nuestro. Nuestro botón de cerrar deberá tener la clase <code>.gmapz-ibx-close</code>, el evento de cerrado se attacheará automáticamente.
      div.alert.alert-info
        <code>infobox.js</code> dispone de algunos ejemplos de las opciones de inicialización en <a href="https://htmlpreview.github.io/?https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/infobox/docs/examples.html" target="_blank">https://htmlpreview.github.io/?https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/infobox/docs/examples.html</a> y la referencias completa con todas las opciones disponibles en <a href="http://htmlpreview.github.io/?https://github.com/googlemaps/v3-utility-library/blob/master/infobox/docs/reference.html" target="_blank">http://htmlpreview.github.io/?https://github.com/googlemaps/v3-utility-library/blob/master/infobox/docs/reference.html</a>.
#sample-6B.mb32
  .row
    .container
      h2 Sample 6B
        small &nbsp;&nbsp;&nbsp;Infowindows personalizados con infobox.js
      .row
        .col-lg-6
          #map-sample-6B.map
            p.
              map goes here
        .col-lg-6
          pre.prettyprint
            +escape()
              | // Enable infobox.js when google.maps loaded
              | GMapz.onGoogleMapsReady = function () {
              |   // Enable infobox library
              |   infoBoxLoader(true);
              | };
              | 
              | // Start map with default options
              | map_sample_6B = new GMapz.map($('#map-sample-11'));
              | 
              | map_sample_6B.onReady = function() {
              |   // Define custom infobox style
              |   var ib_options = {
              |     content: '<div class="gmapz-ibx"><div class="gmapz-ibx-close"></div><div class="gmapz-ibx-content">{{__REPLACE__}}</div><div>',
              |     pixelOffset: new google.maps.Size(-130, -96), // x, y offset from marker
              |     closeBoxURL: '',
              |     enableEventPropagation: true
              |   };
              | 
              |   // Add custom infobox to the map
              |   this.defineInfoBox( ib_options );
              | 
              |   // Load Italy cities AFTER define infobox
              |   this.addLocations(italy_cities).fitBounds();
              | };
              | 
              | map_sample_6B.onDraw = function() {
              |   // Open Rome marker / infobox
              |   this.markers['roma'].click();
              | };
          p.
            Puedes echar un vistazo a los estilos del infobox de esta demo en: <a href="https://github.com/carloscabo/gmapz/blob/master/js/gmapz/gmapz.infobox.scss" target="_blank">https://github.com/carloscabo/gmapz/blob/master/js/gmapz/gmapz.infobox.scss</a>
