include ./includes/mixins.jade
.main-content
  .row
    .container
      h2.page-header Personalización de InfoWindows
      p.
        Algunos proyectos puede requerir de <code>infowindows</code> personalizadas <em>(las ventanitas que se abren en el mapa cuando pulsamos sobre un marker).
      p.
        Para esta funcionalidad hace falta incluir la librería <code>infobox.js</code> ( <a href="https://github.com/kangaroo5383/google-maps-utility-library-v3/tree/master/infobox" target="_blank">infobox</a> ), y una hoja de estilo que defina el estilo de nuestros <em>infowindows</em>, para ver el estilo empleado en esta demo puedes echar un ojo a <code>gmapz.infobox.css</code> ( <a href="#" target="_blank">ver</a> ).
      p.
        <code>infowindows.js</code> dispone de algunos ejemplos de integración en <a href="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/docs/examples.html" target="_blank">infobox</a>
#sample-10.mb32
  .row
    .container
      h2 Sample 11
        small &nbsp;&nbsp;&nbsp;Infowindows personalizados
      .row
        .col-lg-6
          #map-sample-11.map
            p.
              map goes here
        .col-lg-6
          p.
            <b>Infowindows personalizados <em>(infobox)</em>.</b>
          p.
            El estilo del control <b>"Scroll enabled / disabled"</b> puede editarse en <code>gmapz.responsive.css</code>. A continuación el <code>js</code> necesario para esta demo...
          pre.prettyprint
            +escape()
              | // Start map with default options
              | map_sample_10 = new GMapz.map($('#map-sample-10'));
              | 
              | map_sample_10.onReady = function() {
              | 
              |   // Enables responsive control and events
              |   this.addScrollControl();
              | 
              |   // Load Italy cities
              |   this.addLocations(italy_cities).fitBounds();
              | 
              |   // Responsive events
              |   MQBE.on('enter', 'mobile', function() {
              |     // Lock map on mobile
              |     map_sample_10.lockScroll();
              |   }).on('leave', 'mobile', function() {
              |     // Restore scroll on desktop
              |     map_sample_10.resumeScroll();
              |   });
              | 
              | };
