- var is_active = 7
include ./includes/mixins.jade
include ./includes/nav_bar.jade
include ./includes/bs_header.jade
.main-content
  .row
    .container
      h2.page-header Personalización de InfoWindows
      p.
        Algunos proyectos pueden requerir de <code>infowindows</code> personalizadas <b><em>(las ventanitas que se abren en el mapa cuando pulsamos sobre un marker)</em></b>. Para esta funcionalidad hace falta incluir la librería <code>infobox.modified.js</code>, y una hoja de estilo que defina el estilo de nuestros <em>infoboxes</em>, para ver el estilo empleado en esta demo puedes echar un ojo a <code>gmapz.infobox.css</code> ( <a href="https://github.com/carloscabo/gmapz/blob/master/js/gmapz/gmapz.infobox.css" target="_blank">ver</a> ).
      div.alert.alert-danger
        <b>ATENCIÓN!:</b> Para poder integrar <code>infobox.js</code> de forma sencilla en el assets pipeline (y en la filosofía de funcionamiento de GMapz) ha habido que modificarla (no ha habido otra solución <em>elegante</em>). <b>Si actualizas la librería, deberás aplicar las mismas modificaciones :(</b>
.main-content
  .row
    .container
      h2.page-header Opciones de inicialización de infobox
      p.
        <code>content: '...'</code> Este el el código que se insertará en el infobox cuando se crea, cuando el usuario pulse sobre un marcador automáticamente se reemplazará <code>{{__REPLACE__}}</code> por el contenido de la clave: <code>iw:</code> del marker que hayamos definido en el JSON de marcadores / localizaciones.
        <br><br>
        <code>pixelOffset:</code> Desplazamiento del infobox en pixels desde la posición del pin / marker.
        <br><br>
        <code>closeBoxURL: '', enableEventPropagation: true</code> estas dos líneas nos permiten desactivar el <b>botón de cerrar</b> que añade <code>infobox</code> automáticamente para crear uno propio nuestro. Nuestro botón de cerrar deberá tener la clase <code>.gmapz-ibx-close</code>, el evento de cerrado se attacheará automáticamente.
      div.alert.alert-info
        <code>infobox.js</code> dispone de algunos ejemplos de las opciones de inicialización en <a href="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/docs/examples.html" target="_blank">http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/docs/examples.html</a>.
#sample-10.mb32
  .row
    .container
      h2 Sample 11
        small &nbsp;&nbsp;&nbsp;Infowindows personalizados
      .row
        .col-lg-6
          #map-sample-11.map
            p.
              map goes here
        .col-lg-6
          p.
            <b>Infowindows personalizados <em>(infobox)</em>.</b>
          p.
            El estilo del control <b>"Scroll enabled / disabled"</b> puede editarse en <code>gmapz.responsive.css</code>. A continuación el <code>js</code> necesario para esta demo...
          pre.prettyprint
            +escape()
              | // Enable infobox.js when google.maps loaded
              | GMapz.onGoogleMapsReady = function () {
              |   // Enable infobox library
              |   infoBoxLoader(true);
              | };
              | 
              | // Start map with default options
              | map_sample_11 = new GMapz.map($('#map-sample-11'));
              | 
              | map_sample_11.onReady = function() {
              |   // Define custom infobox style
              |   var ib_options = {
              |     content: '<div class="gmapz-ibx"><div class="gmapz-ibx-close"></div><div class="gmapz-ibx-content">{{__REPLACE__}}</div><div>',
              |     pixelOffset: new google.maps.Size(-130, -96), // x, y offset from marker
              |     closeBoxURL: '',
              |     enableEventPropagation: true
              |   };
              | 
              |   // Add custom infobox to the map
              |   this.defineInfoBox( ib_options );
              | 
              |   // Load Italy cities AFTER define infobox
              |   this.addLocations(italy_cities).fitBounds();
              | };
              | 
              | map_sample_11.onDraw = function() {
              |   // Open Rome marker / infobox
              |   this.markers['roma'].click();
              | };
          p.
            Puedes echar un vistazo a los estilos del infobox de esta demo en: <a href="https://github.com/carloscabo/gmapz/blob/master/js/gmapz/gmapz.infobox.css" target="_blank">https://github.com/carloscabo/gmapz/blob/master/js/gmapz/gmapz.infobox.css</a>
