- var is_active = 2
include ./includes/mixins.jade
include ./includes/nav_bar.jade
include ./includes/bs_header.jade
.main-content
  .row
    .container
      h2.page-header Marcadores y configuración
      p.
        A continuación dispones de los ejemplos más habituales para configurar un mapa con <b>GMapz</b>, y diferentes opciones de configuración. También dispones de un ejemplo que incorpora <b>agrupación automática de markers</b>.
#sample-1A.mb32
  .row
    .container
      h2 Sample 1A
        small &nbsp;&nbsp;&nbsp;Basic setup, starting map and setting its center and bounds
      .row
        .col-lg-6
          #map-sample-1A.map
            p.
              map goes here
        .col-lg-6
          p.
            Solo se necesita crear una instancia de <code>GMapz</code> indicando las coordenadas de <code>center</code> y opcionalmente unos límites (<code>bounds</code>) con las esquinas de la zona de visualización en un array con la forma: <code>[nortwest_lat, nortwest_lng, southeast_lat, southwest_lng]</code>.
          p.
            A continuación pueden verse varias opciones de inicialización de GMapz.
          pre.prettyprint
            +escape()
              | map_sample_1A = new GMapz.map(
              |   $('#map-sample-1A'),
              |   { // Standard Google Maps options
              |     scrollwheel: true, // Default
              |     scaleControl: true, // Default
              |     center: [48.860, 2.340],
              |     bounds: [49.7198, 4.1335, 47.9851, 0.5464],
              |     // zoom: 9 You can set `zoom` instead of bounds
              |     // 'ROADMAP' / 'SATELLITE' / 'HYBRID' / 'TERRAIN'
              |     mapTypeId: 'ROADMAP', // Default
              |   }
              | );

#sample-1B.mb32
  .row
    .container
      h2 Sample 1B
        small &nbsp;&nbsp;&nbsp;Estilos de color
      .row
        .col-lg-6
          #map-sample-1B.map
            p.
              map goes here
        .col-lg-6
          p.
            GMapz también soporta diferentes <b>estilos de color</b> como los generados por <a href="https://snazzymaps.com/" target="_blank">Snazzy Maps</a>, deben pasarse en la inicialización del mapa con el resto de parámetros.
          pre.prettyprint
            +escape()
              | // Map sample 1B
              | map_sample_1B = new GMapz.map(
              |   $('#map-sample-1B'),
              |   { // Google Maps options
              |     center: [48.860, 2.340],
              |     zoom: 9,
              |     styles: [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd"}]}]
              |   }
              | );

#sample-1C.mb32
  .row
    .container
      h2 Sample 1C
        small &nbsp;&nbsp;&nbsp;Ejemplo con un solo marcador
      .row
        .col-lg-6
          #map-sample-1C.map
            p.
              map goes here
        .col-lg-6
          p.
            Si solo se muestra una localización hay un método para ajustar el <em>zoom automático</em>, también puede desactivarse completamente pasándole el valor <code>false</code>
          pre.prettyprint
            +escape()
              |  map_sample_1C = new GMapz.map(
              |    $('#map-sample-1C'),
              |    {
              |      // Empty Google Maps options
              |    },
              |    // One single marker / location
              |    {
              |      bolera_de_mieres: {
              |        lat: 43.239175,
              |        lng: -5.779116,
              |        iw: 'Puede que los mejores callos del mundo ;)'
              |      }
              |    }
              |  );
              | 
              |  map_sample_1C.onReady = function(){
              |    // this = google.maps instance
              |    // this.setSingleMarkerZoom(false); // Disable singleMarkerZoom
              |    this.setSingleMarkerZoom(16); // Set custom value
              |    this.fitBounds();
              |  };

#sample-1E.mb32
  .row
    .container
      h2 Sample 1E
        small &nbsp;&nbsp;&nbsp;Añadiendo marcadores / punteros
      .row.mb16
        .col-lg-6
          p.
            A la derecha puede verse la estructura de este objeto JSON. Los marcadores están identificados por una <code>key</code> esta puede ser numérica o alfanumérica, pero es <b>importante que se ÚNICA</b>. Échale un ojo al fichero <code>GMapz.locations.js</code> en el repositorio.
          p.
            La opción <code>iw:</code> determina el contenido del <code>infowindow</code> que se abre cuando pulsamos en uno de los marcadores. Y el <code>pin:</code> el puntero que se le asignará a este marcador, si no asignamos ninguno se empleará el pin definido como <code>'default'</code> en el fichero <code>gmapz.pins.js</code>.
        .col-lg-6
          pre.prettyprint
            +escape()
              | // Group of markers
              | var morocco = {
              |   'FEZ' : { // Key must be unique!
              |     pin: 'green',
              |     lat: 34.033884,
              |     lng: -5.000206,
              |     // Contenido para el `infowindow` (opcional)
              |     // Se abre cuando se pulsa el marcador
              |     iw: 'Fez en Marruecos',
              |     // El marcador es `draggable` (opcional)
              |     draggable: true,
              |     // El marcador inicialmente estará oculto (opcional)
              |     hidden: true
              |   },
              |    168: { // Numeric marker
              |    // ...
      .row
        .col-lg-6
          #map-sample-1E.map
            p.
              map goes here
        .col-lg-6
          p.
            Para añadir los marcadores debemos pasar un objeto JSON a la instancia de GMapz en su momento de creación o bien asignárselos depués de que esté listo empleando el método <code>addLocations</code>.
          p.
            Cuando el mapa esté listo (<code>onReady</code>) podemos llamar al método <code>.fitBounds()</code>, si no le pasamos ningún parámetro ajustará la vista a todos los marcadores visibles en el mapa.
          pre.prettyprint
            +escape()
              | // Map sample 1E
              | map_sample_1C = new GMapz.map(
              |   $('#map-sample-1E'),
              |   {}, // Empty options
              |   france_cities // gmapz.locations.js
              | );
              | 
              | map_sample_1E.onReady = function(){
              |   // this is google.maps instance
              |   // También podríamos hacer:
              |   // this.addLocations(france_cities);
              |   this.fitBounds();
              | }
#sample-1F.mb32
  .row
    .container
      h2 Sample 1F
        small &nbsp;&nbsp;&nbsp;Agrupado de markers según el zoom
      .row
        .col-lg-6.first
          #map-sample-1F.map
            p.
              map goes here
          p.mt8.
            Haz <b>zoom sobre este mapa</b> para ver la agrupación de marcadores...
          p.
            Para agrupar los marcadores empleamos <code>markerclusterer.js</code> una vez el mapa de <code>GMapz</code> está inicializado.
          p.
            El procedimiento es bastante sencillo, preparamos las <a href="https://github.com/googlemaps/js-marker-clusterer" target="_blank">opciones de markerclusterer</a>, inicializamos nuestro mapa normalmente, y en el <code>onReady()</code> de nuestro mapa pasamos los marcadores a <code>markerclusterer</code> que se encargará automáticamente de su agrupación según el nivel de zoom que hayamos definido.
          p
            mark.
              <b>ATENCIÓN:</b> <code>markercluster</code> emplea un <b>array</b> de marcadores, así que tenemos que convertir el <b>objeto</b> que se usa dentro de <code>gmap</code> (ver código del ejemplo a la derecha).
        .col-lg-6
          pre.prettyprint
            +escape()
              | var map_sample_1F_options = {
              |   // 'ROADMAP' / 'SATELLITE' / 'HYBRID' / 'TERRAIN'... caps
              |   mapTypeId: 'ROADMAP',
              |   center: [48, 2],
              |   zoom: 5
              | };
              | 
              | map_sample_1F = new GMapz.map(
              |   $('#map-sample-1F'),
              |   map_sample_1D_options,
              |   france_cities
              | );
              | 
              | // https://github.com/googlemaps/js-marker-clusterer
              | var marker_cluster_style = [{
              |   textColor: 'white',
              |   url: 'img/gmapz/pin-cluster.png',
              |   height: 48,
              |   width: 48,
              |   textSize: '17',
              |   backgroundPosition: '0 0'
              |   // anchorIcon: [-24.0, -48.0] // This propoerty its not supported actually
              | }];
              | 
              | map_sample_1F.onReady = function() {
              |   // Conviert el objeto de marcadores en un array
              |   markers_array = $.map(this.markers, function(val, idx){
              |     return [val];
              |   });
              |   this.marker_cluster = new MarkerClusterer(
              |     this.map,
              |     markers_array, {
              |       gridSize: 100,
              |       maxZoom: 15,
              |       styles: marker_cluster_style
              |     }
              |   );
              | };
